body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.outer {
    margin: 10px;
    width: 31%;
    min-width: 300px;
}

.exif {
    background-color: #dddddd;
    width: 100%;
}

img {
    object-fit: contain;
    width: 100%;
}

p {
    text-align: center;
}

#output {
    display: flex;
    flex-wrap: wrap;
}